<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <style>
        h1,p{
            justify-content: center;
            text-align: center;
        }
        p{
            padding: 2%;
        }
    </style>
    <h1>About</h1>
    <p>Welcome to <b>Book-Shelf</b>, your virtual bookshelf and personal library all in one place. Our mission is to provide book lovers with a convenient platform to organize, manage, and explore their favorite reads effortlessly. Whether you're an avid reader, a casual browser, or a book collector, Book-Shelf offers a seamless experience for discovering new titles, keeping track of your reading progress, and sharing recommendations with fellow bibliophiles. With easy-to-use features like adding, editing, and deleting books, as well as personalized bookshelves and advanced search options, our website empowers you to curate your literary world according to your preferences. Join our community of book enthusiasts today and embark on a journey through the endless realms of literature!</p>
</body>
</html>